USE [master]
GO
/****** Object:  Database [ПАО_Деньги_в_каждый_карман]    Script Date: 20.03.2023 7:58:50 ******/
CREATE DATABASE [ПАО_Деньги_в_каждый_карман]
GO
USE [ПАО_Деньги_в_каждый_карман]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountNumber] [bigint] NOT NULL,
	[AccountUser] [int] NOT NULL,
	[AccountDateOpen] [date] NOT NULL,
	[AccountBalance] [decimal](10, 2) NOT NULL,
	[AccountType] [int] NOT NULL,
 CONSTRAINT [PK__Банковск__29AA80A1D74F3E96] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[AccTypeID] [int] NOT NULL,
	[AccTypeName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] NOT NULL,
	[AddressStreet] [int] NOT NULL,
	[AddressHouse] [varchar](5) NOT NULL,
	[AddressBuilding] [varchar](5) NULL,
	[AddressApartment] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] NOT NULL,
	[CityName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractID] [int] NOT NULL,
	[ContractAccountNumber] [bigint] NOT NULL,
	[ContractUser] [int] NOT NULL,
	[ContractAmount] [decimal](10, 2) NOT NULL,
	[ContractPeriod] [int] NOT NULL,
	[ContractExpirationDate] [date] NOT NULL,
	[ContractPercent] [float] NOT NULL,
 CONSTRAINT [PK__Договор__A3F77D9B639A927A] PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationHistory]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationHistory](
	[OpID] [int] NOT NULL,
	[OpType] [int] NOT NULL,
	[OpTime] [datetime] NOT NULL,
	[OpAmount] [decimal](10, 2) NOT NULL,
	[OpAccount] [bigint] NOT NULL,
 CONSTRAINT [PK__История__BBC8E649E0A992CA] PRIMARY KEY CLUSTERED 
(
	[OpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationType]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationType](
	[OpTypeID] [int] NOT NULL,
	[OpTypeName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OpTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassportIssueOrganization]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassportIssueOrganization](
	[OrgID] [int] NOT NULL,
	[OrgName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceOfBirth]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceOfBirth](
	[PlaceID] [int] NOT NULL,
	[PlaceCity] [int] NOT NULL,
	[PlaceRegion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] NOT NULL,
	[RegionName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetID] [int] NOT NULL,
	[StreetName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StreetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.03.2023 7:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserSurname] [varchar](50) NOT NULL,
	[UserPatronymic] [varchar](50) NULL,
	[Серия] [varchar](50) NULL,
	[Номер] [varchar](50) NULL,
	[UserPhone] [varchar](11) NOT NULL,
	[UserAddress] [int] NULL,
	[UserEmail] [varchar](25) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[ДатаВыдачи] [date] NULL,
	[Выдан] [int] NULL,
	[UserDateOfBirth] [date] NULL,
	[UserPlaceOfBirth] [int] NULL,
 CONSTRAINT [PK__Пользова__90A39CA22E6DBDB0] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountNumber], [AccountUser], [AccountDateOpen], [AccountBalance], [AccountType]) VALUES (7465986898, 5, CAST(N'2017-07-27' AS Date), CAST(274425.13 AS Decimal(10, 2)), 2)
INSERT [dbo].[Account] ([AccountNumber], [AccountUser], [AccountDateOpen], [AccountBalance], [AccountType]) VALUES (7465986948, 11, CAST(N'2017-08-17' AS Date), CAST(8171.69 AS Decimal(10, 2)), 2)
INSERT [dbo].[Account] ([AccountNumber], [AccountUser], [AccountDateOpen], [AccountBalance], [AccountType]) VALUES (7465986998, 1, CAST(N'2017-06-09' AS Date), CAST(63795.98 AS Decimal(10, 2)), 2)
GO
INSERT [dbo].[AccountType] ([AccTypeID], [AccTypeName]) VALUES (1, N'Кредитный')
INSERT [dbo].[AccountType] ([AccTypeID], [AccTypeName]) VALUES (2, N'Дебетовый')
INSERT [dbo].[AccountType] ([AccTypeID], [AccTypeName]) VALUES (3, N'Депозитный')
GO
INSERT [dbo].[Address] ([AddressID], [AddressStreet], [AddressHouse], [AddressBuilding], [AddressApartment]) VALUES (1, 1, N'25', N'', N'8')
INSERT [dbo].[Address] ([AddressID], [AddressStreet], [AddressHouse], [AddressBuilding], [AddressApartment]) VALUES (2, 2, N'1', N'', N'56')
INSERT [dbo].[Address] ([AddressID], [AddressStreet], [AddressHouse], [AddressBuilding], [AddressApartment]) VALUES (3, 3, N'9', N'', N'168')
GO
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (1, N'Приморск')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (2, N'Киров')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (3, N'Радужный')
GO
INSERT [dbo].[Contract] ([ContractID], [ContractAccountNumber], [ContractUser], [ContractAmount], [ContractPeriod], [ContractExpirationDate], [ContractPercent]) VALUES (1, 7465987048, 4, CAST(9243406.00 AS Decimal(10, 2)), 514, CAST(N'2018-12-23' AS Date), 5.45)
INSERT [dbo].[Contract] ([ContractID], [ContractAccountNumber], [ContractUser], [ContractAmount], [ContractPeriod], [ContractExpirationDate], [ContractPercent]) VALUES (2, 7465987098, 10, CAST(9262312.00 AS Decimal(10, 2)), 1806, CAST(N'2022-07-28' AS Date), 7.01)
INSERT [dbo].[Contract] ([ContractID], [ContractAccountNumber], [ContractUser], [ContractAmount], [ContractPeriod], [ContractExpirationDate], [ContractPercent]) VALUES (3, 7465987298, 13, CAST(7674776.00 AS Decimal(10, 2)), 538, CAST(N'2018-11-29' AS Date), 7.24)
GO
INSERT [dbo].[OperationHistory] ([OpID], [OpType], [OpTime], [OpAmount], [OpAccount]) VALUES (1, 1, CAST(N'2018-04-07T00:00:00.000' AS DateTime), CAST(3084.00 AS Decimal(10, 2)), 7465986898)
INSERT [dbo].[OperationHistory] ([OpID], [OpType], [OpTime], [OpAmount], [OpAccount]) VALUES (2, 2, CAST(N'2018-04-11T00:00:00.000' AS DateTime), CAST(5600.00 AS Decimal(10, 2)), 7465986948)
INSERT [dbo].[OperationHistory] ([OpID], [OpType], [OpTime], [OpAmount], [OpAccount]) VALUES (3, 1, CAST(N'2018-03-24T00:00:00.000' AS DateTime), CAST(338.00 AS Decimal(10, 2)), 7465986898)
GO
INSERT [dbo].[OperationType] ([OpTypeID], [OpTypeName]) VALUES (1, N'Снятие')
INSERT [dbo].[OperationType] ([OpTypeID], [OpTypeName]) VALUES (2, N'Пополнение')
GO
INSERT [dbo].[PassportIssueOrganization] ([OrgID], [OrgName]) VALUES (1, N'Отделение по району Арбат ОУФМС России по городу Москве в ЦАО')
INSERT [dbo].[PassportIssueOrganization] ([OrgID], [OrgName]) VALUES (2, N'Отделение по району Таганский ОУФМС России по городу Москве в ЦАО')
INSERT [dbo].[PassportIssueOrganization] ([OrgID], [OrgName]) VALUES (3, N'Отделение по району Тверской ОУФМС России по городу Москве в ЦАО')
GO
INSERT [dbo].[PlaceOfBirth] ([PlaceID], [PlaceCity], [PlaceRegion]) VALUES (1, 1, 1)
INSERT [dbo].[PlaceOfBirth] ([PlaceID], [PlaceCity], [PlaceRegion]) VALUES (2, 2, 2)
INSERT [dbo].[PlaceOfBirth] ([PlaceID], [PlaceCity], [PlaceRegion]) VALUES (3, 3, 3)
GO
INSERT [dbo].[Region] ([RegionID], [RegionName]) VALUES (1, N'Калининградская')
INSERT [dbo].[Region] ([RegionID], [RegionName]) VALUES (2, N'Калужская')
INSERT [dbo].[Region] ([RegionID], [RegionName]) VALUES (3, N'Владимирская')
GO
INSERT [dbo].[Street] ([StreetID], [StreetName]) VALUES (1, N'Площадь Соловецких Юнг')
INSERT [dbo].[Street] ([StreetID], [StreetName]) VALUES (2, N'Улица 1905 Года')
INSERT [dbo].[Street] ([StreetID], [StreetName]) VALUES (3, N'3-й Автозаводский проезд')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [UserSurname], [UserPatronymic], [Серия], [Номер], [UserPhone], [UserAddress], [UserEmail], [UserPassword], [ДатаВыдачи], [Выдан], [UserDateOfBirth], [UserPlaceOfBirth]) VALUES (0, N'Тихон', N'Суворин', N'Олегович', NULL, NULL, N'89884012884', NULL, N'suvorint@gmail.com', N'123456', NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [UserName], [UserSurname], [UserPatronymic], [Серия], [Номер], [UserPhone], [UserAddress], [UserEmail], [UserPassword], [ДатаВыдачи], [Выдан], [UserDateOfBirth], [UserPlaceOfBirth]) VALUES (1, N'Александр ', N'Смирнов', N'Иванович', N'4513', N'989722', N'88005353535', 1, N'smirnov@qwer.ty', N'3QjGHM', CAST(N'2014-12-01' AS Date), 1, CAST(N'1987-02-16' AS Date), 1)
INSERT [dbo].[User] ([UserID], [UserName], [UserSurname], [UserPatronymic], [Серия], [Номер], [UserPhone], [UserAddress], [UserEmail], [UserPassword], [ДатаВыдачи], [Выдан], [UserDateOfBirth], [UserPlaceOfBirth]) VALUES (2, N'Максим ', N'Иванов', N'Петрович', N'4511', N'267981', N'85003296574', 2, N'ivanovmi@qwer.ty', N'6RElM44FHBa4g5S2VJ', CAST(N'2012-03-25' AS Date), 2, CAST(N'1997-06-13' AS Date), 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Банковски__ИДПол__4D94879B] FOREIGN KEY([AccountUser])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Банковски__ИДПол__4D94879B]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Банковски__ИДтип__4E88ABD4] FOREIGN KEY([AccountType])
REFERENCES [dbo].[AccountType] ([AccTypeID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Банковски__ИДтип__4E88ABD4]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([AddressStreet])
REFERENCES [dbo].[Street] ([StreetID])
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK__Договор__ИД_Поль__4F7CD00D] FOREIGN KEY([ContractUser])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK__Договор__ИД_Поль__4F7CD00D]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK__Договор__НомерСч__5070F446] FOREIGN KEY([ContractAccountNumber])
REFERENCES [dbo].[Account] ([AccountNumber])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK__Договор__НомерСч__5070F446]
GO
ALTER TABLE [dbo].[OperationHistory]  WITH CHECK ADD  CONSTRAINT [FK__История__Аккаунт__5165187F] FOREIGN KEY([OpAccount])
REFERENCES [dbo].[Account] ([AccountNumber])
GO
ALTER TABLE [dbo].[OperationHistory] CHECK CONSTRAINT [FK__История__Аккаунт__5165187F]
GO
ALTER TABLE [dbo].[OperationHistory]  WITH CHECK ADD  CONSTRAINT [FK__История__Тип__52593CB8] FOREIGN KEY([OpType])
REFERENCES [dbo].[OperationType] ([OpTypeID])
GO
ALTER TABLE [dbo].[OperationHistory] CHECK CONSTRAINT [FK__История__Тип__52593CB8]
GO
ALTER TABLE [dbo].[PlaceOfBirth]  WITH CHECK ADD FOREIGN KEY([PlaceCity])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[PlaceOfBirth]  WITH CHECK ADD FOREIGN KEY([PlaceRegion])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__Пользоват__Адрес__5535A963] FOREIGN KEY([UserAddress])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__Пользоват__Адрес__5535A963]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__Пользоват__Выдан__5629CD9C] FOREIGN KEY([Выдан])
REFERENCES [dbo].[PassportIssueOrganization] ([OrgID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__Пользоват__Выдан__5629CD9C]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__Пользоват__Место__571DF1D5] FOREIGN KEY([UserPlaceOfBirth])
REFERENCES [dbo].[PlaceOfBirth] ([PlaceID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__Пользоват__Место__571DF1D5]
GO
USE [master]
GO
